<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">title</title>
</head>
<body>
<h1 th:text="${title}">title</h1>
<table>
	<tr>
		<th>id</th><th>name</th><th>email</th><th>contents</th><th>datetime</th>
	</tr>
	<tr th:each="v : ${list}">
		<td th:text="${v.id}">1</td>
		<td th:text="${v.age}"></td>
		<td th:text="${v.satisfaction}"></td>
		<td th:text="${v.comment}"></td>
		<td th:text="${v.created}"></td>
	</tr>
</table>
</body>
</html>
