<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=800, initial-scale=1.0">
    <title th:text="${title}">form title</title>
</head>
<body>
    <h1 th:text="${title}">form title</h1>
    <div th:object="${inquiryForm}">
        <p th:text="*{name}"></p>
        <p th:text="*{email}"></p>
        <p th:text="*{contents}"></p>
        <form action="#" method="post" th:action="@{/inquiry/form}" th:object="${inquiryForm}">
            <input type="hidden" name="name" th:value="*{name}">
            <input type="hidden" name="email" th:value="*{email}">
            <input type="hidden" name="contents" th:value="*{contents}">
            <input type="submit" value="戻る">
        </form>
        <form action="#" method="post" th:action="@{/inquiry/complete}">
            <input type="hidden" name="name" th:value="*{name}">
            <input type="hidden" name="email" th:value="*{email}">
            <input type="hidden" name="contents" th:value="*{contents}">
            <input type="submit" value="完了">
        </form>
    </div>
</body>
</html>
