<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=800, initial-scale=1.0">
    <title th:text="${title}">form title</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="~{block/header::headerA}"></div>
    <main role="main" class="container">
        <div class="starter-template">
            <h1 th:text="${title}">form title</h1>
            <h2 th:text="${complete}"></h2>
        </div>

        <div th:unless="${#strings.isEmpty(complete)}">
            <div th:text="${complete}" class="alert alert-success" role="alert">
                A simple success alert?check it out!
            </div>
        </div>

        <form action="#" method="post" th:action="@{/inquiry/confirm}" th:object="${inquiryForm}">
            <div class="mb-3">
                <label for="name" class="form-label">名前</label>
                <input type="text" class="form-control" id="name" name="name" th:value="*{name}"><br>
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">メールアドレス</label>
                <input type="text" class="form-control" id="email" name="email" th:value="*{email}"><br>
                <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="mb-3">
                <label for="contents" class="form-label">詳細</label>
                <textarea name="contents" class="form-control" id="contents" cols="40" rows="3" th:field="*{contents}"></textarea><br>
                <di class="text-danger" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">
            </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">確認</button>
        </form>
    </main>
</body>

</html>